[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "USA.state.boundaries"]
	path = USA.state.boundaries
	url = https://gitlab.com/iembry/usa.state.boundaries
[submodule "ie2misc"]
	path = ie2misc
	url = https://gitlab.com/iembry/ie2misc
[submodule "ie2miscdata"]
	path = ie2miscdata
	url = https://gitlab.com/iembry/ie2miscdata
[submodule "iemisc"]
	path = iemisc
	url = https://gitlab.com/iembry/iemisc
[submodule "iemiscdata"]
	path = iemiscdata
	url = https://gitlab.com/iembry/iemiscdata
[submodule "iemisctext"]
	path = iemisctext
	url = https://gitlab.com/iembry/iemisctext
[submodule "install.load"]
	path = install.load
	url = https://gitlab.com/iembry/install.load
[submodule "jab.adverse.reactions"]
	path = jab.adverse.reactions
	url = https://gitlab.com/iembry/jab.adverse.reactions
[submodule "vaersNDvax"]
	path = vaersNDvax
	url = https://github.com/cran/vaersNDvax
[submodule "vaersvax"]
	path = vaersvax
	url = https://github.com/cran/vaersvax
